@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --green: #228B22;
    --darkBlue: #091C47;
    --blue: #0D3081;
    --white: #fff;
    --blackTxt: #000;
    --blueLogo: #1441A5;
    --greenBtn: #3CA43C;
}

* {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--blackTxt);
    transition: all 0.3s ease-in-out;
}

li {
    list-style: none;
}

.hide {
    display: none;
}

/* ajeita grid para espaçamento */

@media (min-width: 992px) {
  #faq .faqQuestions, #solution .city {
    grid-column: 7 / span 6;
    position: relative;
  }

  #descarte .descarteInfos {
    grid-column: 8 / span 5;
  }
}

.contentHeader {
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.15);
    z-index: 99999999;
}

.contact {
    width: 100%;
    background-color: var(--green);
    height: 40px;
}

.contentHeader .contact .container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    height: 40px;
    align-items: center;
    justify-content: end;
}

.contact .container .headerInfo {
    display: flex;
    flex-direction: row;
    gap: 5px;

}

.contact .container .headerInfo img {
    width: 20px;
    height: 20px;
}

.contact .container .headerInfo p {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mainHeader {
    width: 100%;
    height: 100px;
    color: var(--white);
}

.mainHeader .container {
    display: flex;
    flex-direction: row;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}


.mainHeader .headerItems ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 100px;
    align-items: center;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: max-content;
}

.mainHeader .headerItems ul li a:hover {
    color: var(--green);
}

.mainHeader .logoDescarte {
    width: 350px;
    height: 116px;
    border-radius: 0 0 30px 30px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    z-index: 999;
}

.mainHeader .logoDescarte img {
    width: 250px;
    height: 35.191px;
}

.mainHeader .headerWppBtn {
    width: 220px;
    height: 60px;
    background-color: var(--greenBtn);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.mainHeader .headerWppBtn:hover {
    transform: scale(1.03);
    box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.25);
}

.mainHeader .headerWppBtn a {
    height: 60px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--white);
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.mainBanner {
    width: 100%;
    background: linear-gradient(180deg, #091C47 0%, #0D3081 100%);
    position: relative;
    min-height: 630px;
    height: 700px;
}

.mainBanner > img {
    width: 1100px;
    height: 630px;
    position: absolute;
    left: 0;
    top: 0;
}

.mainBanner .bannerCard {
    background-color: var(--darkBlue);
    padding: 75px 50px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 50%;
    right: 15%;
    transform: translateY(-50%);
    width: 650px;
}

.mainBanner .bannerCard .bannerCardContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mainBanner .bannerCard p {
    color: var(--greenBtn);
    font-family: "Open Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.mainBanner .bannerCard h1 {
    color: var(--white);
    font-family: Montserrat;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.mainBanner .bannerCard .wppBtn {
    width: 462px;
    height: 70px;   
    border-radius: 300px;
    background-color: var(--greenBtn);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-family: "Open Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    gap: 10px;
}

.mainBanner .bannerCard .wppBtn img {
    width: 30px;
    height: 30px;
}

.mainBanner .bannerCard .wppBtn:hover {
    transform: scale(1.02);
    box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.25);
}

#solution {
    width: 100%;
    background-color: var(--white);
    padding-top: 130px;
}

#solution .solutionText {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#solution .solutionText .title h1 {
    color: var(--blackTxt);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#solution .solutionText .title span {
    color: var(--blackTxt);
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    display: block;
    white-space: nowrap;
}

#solution .solutionText .text {
    color: var(--blackTxt);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#solution .solutionText .stParagraph {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.wppBtn {
    width: 384px;
    height: 70px;   
    border-radius: 300px;
    background-color: var(--greenBtn);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-family: "Open Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    gap: 10px;
}

.wppBtn:hover {
    transform: scale(1.02);
    box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.25);
}

#solution .city .pin {
    position: absolute;
    width: 185;
    height: 250px;
    top: -50px;
    right: -60px;
}

/* how it works */

#howItWorks {
    width: 100%;
    background-color: var(--white);
    padding-top: 110px;
}

.howItWorks {
    display: flex;
    flex-direction: column;
    gap: 25px;
    /* justify-content: center; */
    align-items: center;
}

.sectionTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.sectionTitle p {
    color: var(--blackTxt);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sectionTitle h2 {
    color: var(--blackTxt);
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 538px;
    text-align: center;
}

.infoCards {
    background-color: var(--darkBlue);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 50px 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.infoCards:hover {
    transform: translateY(-5px);
}

#howItWorks .cardWrapper .infoCards .cardDescription h3 {
    color: var(--white);
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 0 35px;
}

#prices .wppBtn {
    width: 80%;
    height: 60px;   
    border-radius: 300px;
    background-color: var(--greenBtn);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    gap: 10px;
}

/* prices */

#prices {
    width: 100%;
    background-color: var(--white);
    padding-top: 110px;
}

.prices {
    display: flex;
    flex-direction: column;
    gap: 25px;
    /* justify-content: center; */
    align-items: center;
}

.prices .infoCards .cardImg {
    width: 85%;
}

.prices .infoCards .cardImg img {
    width: 100%;
}

.prices .infoCards .cardTitle h3 {
    color: var(--white);
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0 30px;
}

.prices .infoCards .cardTitle span {
    color: var(--white);
    font-family: Montserrat;
    font-size: 16px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
}

.prices .infoCards .cardDescription {
    color: var(--white);
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0 30px;
}

.prices .infoCards {
    background-color: var(--darkBlue);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 30px 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.prices .infoCards > img {
    margin-bottom: 10px;
}

#descarte {
    padding-top: 110px;
}

#descarte .descarteImg {
    height: 550px;
}

#descarte .descarteInfos .list ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0 30px 0;
} 

#descarte .descarteInfos .list ul li {
    display: flex;
    align-items: center; 
    gap: 10px;   
    color: var(--blackTxt);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#descarte .descarteInfos .list ul li::before {
    content: url("midias/icons/icons-svg/icon-check.svg");
    width: 25.133px;
    height: 25.133px;
    flex-shrink: 0; 
}

/* faq */

#faq {
    padding-top: 110px;
}

#faq .sectionTitle, #descarte .sectionTitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

#faq .sectionTitle, #descarte .sectionTitle p {
    color: var(--blackTxt);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#faq .sectionTitle p:last-of-type, #descarte .sectionTitle p:last-of-type {
    margin-top: 30px;
}

#faq .sectionTitle h2, #descarte .sectionTitle h2 {
    color: var(--blackTxt);
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 538px;
    text-align: start;
}

#faq .faqQuestions {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#faq .faqQuestions .faqCard {
    display: flex;
    flex-direction: column;
    gap: 25px;
    border-radius: 10px;
    border: 2px solid #1441A5;
    background-color: var(--white);
    padding: 30px;
    transition: all 1s ease-out;
}

 .fcTitle {
    display: flex;
    flex-direction: row;
    gap: 10px;
}


/* cta */

.cta .callToAction {
    margin-top: 245px;
    height: 500px;
    border-radius: 10px;
    background: linear-gradient(98deg, #091C47 0.24%, #0D3081 99.76%);
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.10);
}

.cta .callToAction .ctaContents {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-left: 110px;
    justify-content: center;
}

.cta .callToAction .ctaContents h3 {
    color: var(--white);
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.cta .callToAction .ctaContents h3 span {
    color: var(--white);
    font-size: 52px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.cta .callToAction .ctaContents p {
    color: var(--white);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cta .callToAction .colImg {
    position: relative;
}

.cta .callToAction .colImg img {
    position: absolute;
    max-width: 550px;
    width: 100%;
    bottom: 0;
    right: 0;
}

/* footer */
footer .infos  {
    margin-top: 110px;
    width: 100%;
    height: 235px;
    background: linear-gradient(98deg, #004D00 0.24%, #003500 99.76%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

footer .infos .logo {
    height: 115px;
    background-color: var(--white);
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 20px 20px;
}

footer .infos .logo img {
    width: 250px;
    height: 35.191px;
    aspect-ratio: 250.00/35.19;
}

footer .infos .social {
    display: flex;
    gap: 20px;
}

footer .infos .social a {
    width: 60px;
    height: 60px;
    background-color: #68C468;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

footer .infos .social a:hover {
    transform: scale(1.03);
    /* background-color: var(--green); */
}

footer .infos .social a .wpp {
    width: 30px;
    height: 30px;  
}

footer .infos .social a .location {
    width: 23.203px;
    height: 33px;
}

footer .infos .social a .email {
    width: 30px;
    height: 21px;
}

footer .copyrights {
    width: 100%;
    height: 45px;
    border-top: 3px solid var(--white);
    background-color: #004D00;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .copyrights span {
    color: var(--white); 
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

footer .copyrights p {
    color: var(--white);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

footer .copyrights a {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

/* mobile */

@media (max-width: 992px) {
    .hideOnMobile {
        display: none;
    }

    .wppBtn {
        width: 100%;
    }

    .mainBanner .bannerCard {
        max-width: 70%;
    }

    .mainBanner .bannerCard .wppBtn {
        max-width: 100%;
        font-size: 20px;
    }

    /* cta */
    .cta .callToAction .ctaContents {
        padding: 50px;
    }

    .cta .callToAction .ctaContents h3 span {
        font-size: 32px;
    }

    /* footer */
    footer .infos .logo {
        width: 60%;
    }

    footer .infos .social a {
        
    }

    footer .copyrights span, footer .copyrights p, footer .copyrights a {
        font-size: 12px;
    }

    footer .infos .social a:hover,  .infoCards:hover {
        transform: none;
    }
}